@use 'sass:math';

$height: 26px;
$width: 45px;
$offset: 4px;
$diameter: $height - 2 * $offset;
$background1: #03a9f4;
$background2: #f44336;
$layerBackground1: #ebf7fc;
$layerBackground2: #fcebeb;

.checkbox__container {
  display: inline-block;
  margin-right: 5px;
  width: $width;
  height: $height;

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .knobs {
    z-index: 2;

    &::before {
      content: '月';
      position: absolute;
      top: $offset;
      left: $offset;
      width: $diameter;
      height: $diameter;
      color: #fff;
      line-height: $diameter;
      text-align: center;
      font-size: $diameter * 0.6;
      background-color: $background1;
      border-radius: 50%;
      transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }
  }

  .layer {
    background-color: $layerBackground1;
    transition: 0.3s ease all;
    z-index: 1;
  }

  &,
  & .layer {
    border-radius: math.div($height, 2);
  }

  &,
  .checkbox {
    position: relative;
  }

  .checkbox {
    cursor: pointer;
    // 防止手机端点击出现背景
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 3;

    &:checked ~ .layer {
      background-color: $layerBackground2;
    }

    &:active + .knobs:before {
      width: $width * 0.6;
      border-radius: math.div($height, 2);
    }

    &:checked:active + .knobs:before {
      margin-left: -$width * 0.3;
    }

    &:checked + .knobs:before {
      content: '周';
      left: $width - $offset - $diameter;
      background-color: $background2;
    }
  }
}
