body {
  margin: 0;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.calendar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
